@inject EventService _eventService;
@inject SubscribeService _subscribeService;
@inject NavigationManager _navigationManager;

<header>
    <link rel="stylesheet" href="css/MainDashBoard.css">
</header>

<div class="dashboard_container">
    <div class="dashboard_card" @onclick="gotTo">
        <span class="totals">@statistics?.totalEvent</span> 
        <span class="labels">Total Events</span> 
    </div>
    <div class="dashboard_card"  @onclick="()=>filterEvents(0)">
        <span class="totals">@statistics?.subscribed</span>
        <span class="labels">Total Subscribed</span>
    </div>
    <div class="dashboard_card" @onclick="()=>filterEvents(2)">
        <span class="totals">@statistics?.ActiveSubsribed</span>
        <span class="labels">Active subscribtion</span>
    </div>
    <div class="dashboard_card" @onclick="()=>filterEvents(1)">
        <span class="totals">@statistics?.cancelledEvent</span>
        <span class="labels">Canceled</span>
    </div>
</div>

<div class="Subscriptions">
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Event status </th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var subscription in Filtered)
            {
                <tr>
                    <td>@subscription.Id</td>
                    <td>@subscription.EventId</td>
                    <td>@getEventName(@subscription.EventId).EventName</td>
                    <td>@getEventName(@subscription.EventId).EventDate</td>
                    <td>@(subscription.IsCancelled?"cancelled":"Active")</td>
                    
                    <td>
                        <button disabled="@subscription.IsCancelled"  @onclick="() => CancelSubscription(subscription.EventId)">@(subscription.IsCancelled?"Event Canceled":"Cancel Event")</button> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    public class Statistics
    {
        public int totalEvent { get; set; }
        public int subscribed { get; set; }
        public int cancelledEvent {get;set;}
        public int ActiveSubsribed {get;set;}
    }

    public Statistics statistics;
    public List<Subscription> subscriptions;
    public List<EventModel> allEvents;
    public List<Subscription> Filtered;

    protected override async Task OnInitializedAsync()
    {
       await GetData();
       filterEvents(0);
    }
    public async Task GetData()
    {
         allEvents = await _eventService.getAllEvents();
        subscriptions = await _subscribeService.GetAllMyEvents();
        statistics = new Statistics()
        {
            totalEvent = allEvents.Count(),
            subscribed = subscriptions.Count(),
            cancelledEvent=subscriptions.Where(e=>e.IsCancelled==true).ToList().Count(),
            ActiveSubsribed=subscriptions.Where(e=>e.IsCancelled==false).ToList().Count(),

        };

    }
    private async void CancelSubscription(int evntId)
    {
        await _subscribeService.CancelEvent(evntId);
        await GetData();
        
        StateHasChanged();
    }

    public EventModel getEventName(int evevenIt)
    {
       EventModel eventModel= allEvents.Find(e=>e.Id==evevenIt);
       return eventModel;

    }

    public void gotTo()
    {
        _navigationManager.NavigateTo("/events");

    }

    public void filterEvents(int toshow)
    {
        if(toshow==0)
        {
            Filtered= subscriptions;
        }else if(toshow==1)
        {
            Filtered= subscriptions.Where(e=>e.IsCancelled==true).ToList();
        }else 
        {
            Filtered=subscriptions.Where(e=>e.IsCancelled==false).ToList();
        }

      


    }
}
