@page "/event/{EventId}/details"
@inject EventService _eventService;
@inject NavigationManager _navigationManager;
@inject EventService _eventService;
@inject CommentService _commentService;
@inject SubscribeService _subscribeService;
@inject PopUpMessages _popUpMessages;

<header>
    <link rel="stylesheet" href="css\eventDetails.css">
</header>
<NavBar isBackground=true></NavBar>
<MatchPlayModal @ref="matchPlayModal" EventModel="eventModel"></MatchPlayModal>
<div class="event-container">
    <div class="event-details">
        <h2>@eventModel.EventName</h2>
        <p>@eventModel.EventDescription</p>
        <p>Event Date: @eventModel.EventDate</p>
        @* <img src="@eventModel.EventImageUrl" alt="Event Image" /> *@
        <video controls  class="event-video" poster="images/funOlympics.jpeg">
            <!-- Placeholder video source -->
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div>
            <div class="input_container">
           <input type="text" id="EventForm" placeholder="Add Comment...." @bind="user_comment">
           <button @onclick="()=>AddComment(eventModel)">Add Comment</button>
         </div>
         <button class="add_events_btn" @onclick="()=>SubscribeEvent(eventModel)">Add Game</button>
         <div class="allComments">
            <ul>
                @if(commentsList!=null)
                {

                @foreach(var comment in commentsList)
                {
                <li>
                    @* <img src="images/" alt=""> *@
                    <span class="name">@comment.username</span>
                    <span >@comment.Comment</span>
                    <div class="comment_time">@comment.timeCommented</div>

                </li>
                }
                             }
             
            </ul>
            
         </div>
        </div>
    </div>
    <div class="other-events">
        <div class="btn_container_links">
 @foreach (var evt in OtherEvents)
        {
            <p><button class="o_event_name" @onclick="()=>seeDetails(evt.Id)">@evt.EventName</button></p>
        }
        </div>
        <div class="match_player" @onclick="ShowMatchPlayModal">
           <img src="images/user.png" alt=""> 
           <p>Player:@eventModel.PlayerName</p>
        </div>

    </div>
     
</div>

@code {
    [Parameter]
    public string EventId { get; set; }

    public EventModel eventModel=new EventModel();
    public List<EventModel> OtherEvents = new List<EventModel>();
    public string user_comment; 
    public List<CommentModel> commentsList;


  MatchPlayModal matchPlayModal; // Reference to the MatchPlayModal component

    // Method to show the MatchPlayModal component
    private void ShowMatchPlayModal()
    {
        Console.WriteLine("hello leon");
        matchPlayModal.Show();
    }
        
        

    protected override async Task OnInitializedAsync()
    {
        int id = int.Parse(EventId);
        eventModel = await _eventService.getEventDetails(id);
       commentsList= await _commentService.GetComments(id);

        // Simulated list of other events (replace with actual data)
        OtherEvents = await _eventService.getAllEvents();
        OtherEvents.RemoveAll(evt => evt.Id == id); 
        @* Timer timer = new Timer(changeState, null, TimeSpan.Zero, TimeSpan.FromSeconds(1)); *@
    Timer timer = new Timer(async _ => await ChangeState(), null, TimeSpan.Zero, TimeSpan.FromSeconds(10));
    }

  public async Task ChangeState()
{
    StateHasChanged();
    @* commentsList = await _commentService.GetComments(int.Parse(EventId)); *@
    Console.WriteLine("hello leon");
}

public async Task seeDetails(int evID)
{
   string pagePath=$"event/{evID}/details";
   _navigationManager.NavigateTo(pagePath);
   Console.WriteLine(pagePath);
   int id = int.Parse(EventId);
  eventModel = await _eventService.getEventDetails(id);

}



    public async Task AddComment(EventModel eventModel)
    {
        await _commentService.AddComment(eventModel.Id,user_comment); 
        user_comment="";
        await ChangeState();
    }

    public async Task SubscribeEvent(EventModel eventModel)
    {
       var eventDate=eventModel.EventDate;
       TimeSpan timeSpan=eventDate-DateTime.Now;
       if(timeSpan.TotalHours<24)
       {
        await _popUpMessages.sweetAlert($"You can't subscribe to this event. You need to subscribe to the event a day earlier.{(int)Math.Round(timeSpan.TotalHours)} Hours Remaining for the event to start", "Subscription", "error");
       }else
       {
       await _subscribeService.subscibeToEvent(eventModel.Id);

       }
      

    }

   
}
